/*
忘记密码的页面的样式
*/
/*包裹进度条的div块的样式*/
.steps-div {
    margin: 0.2rem auto;
    height: 0.3rem;
    width: 60%;
}
/*第一步中的表单及表单里的组件的样式*/
.first-form {
    margin: 0.5rem auto;
    height: 3rem;
    width: 20%;
    display: block;
}
.first-form-next-button {
    width: 100%;
}
.first-form-code-button {
    width: 100%;
    font-size: 0.12rem;
}
/*第二步中的表单及表单里的组件的样式*/
.second-form{
    margin: 0.5rem auto;
    height: 3rem;
    width: 20%;
    display: block;
}
.second-form-button{
    width: 100%;
}
/*第三步中的表单及表单里的组件的样式*/
.third-form{
    width: 100%;
}