/*
页面头的css样式文件，页面头包括页面上方菜单栏，搜索栏和右上角的用户信息这些
*/
/*右上角显示的用户信息*/
.username{
    position: absolute;
    right: 100px;
    top: 10px;
}
.userFont{
    font-size: medium;
}
.children{
    height: 885px;
}
.homepageDiv{
    border: 1px #f3eeee solid;
    font-size: 18px;
    background-size:100% 100%;
}
/*HomePageSearch*/
.searchKitParent{
    padding: 5% 0;
}
.searchKit{
    padding: 10% 0;
}
/*登录表单*/
.login-form {
    max-width: 335px;
    margin: 0 auto;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}