/*
主页页面的css样式文件
*/
/*走马灯*/
.ant-carousel .slick-slide {
    /*text-align: center;*/
    height: 600px;
    /*line-height: 250px;*/
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}